*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: flex;
  align-items:  center;
  flex-direction: column;
  height: 100vh;
}

.fixture-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  border: 1px solid aliceblue;
}

.inner-container{
  width: 100%;
  padding: 18px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-time{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.time{
  border: 1px solid #181f62;
  color: #181f62;
  padding: 5px 14px;
  border-radius: 5px;
  font-weight: 700;
}

.date{
  background-color: aliceblue;
  color: #181F62;
  padding: 5px 14px;
  border-radius: 0;
  font-weight: 700;
}
.card{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
}

.card img{
  padding-bottom: 15px;
   width: 48px;
   height: auto;
}
.team-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select{
  display: flex;
  flex-direction: column;
  margin: 18px 0 0 0;
}

label{
  padding: 10px;
}

option{
  font-size: 18px;
  padding: 8px;
}
table{
  width: 80%;
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-top: 18px;
  
}

th, td{
  padding: 12px;
  text-align: center;
  
  
}

tr>td{
  background-color: aliceblue;
  color: #181F62;
  
}

td{
  font-size: 14px;
  
}

th{
  background-color: #181F62;
  color: aliceblue;
}

tr:nth-child(even){
  background-color: #ffbb00;
}

img{
  width: 24px;
  height: auto;
  margin-right: 18px;
}

.img{
  display: flex;
  align-items: center;
}
.select{
  display: flex;
  background-color: aliceblue;
  padding: 30px;
  width: 80%;
}

select {
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* Remove default arrow in Safari */
    -moz-appearance: none; /* Remove default arrow in Firefox */
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: #181F62;
    width: 200px;
    cursor: pointer;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI2Ij4KICA8cGF0aCBkPSJNIDAgMCAwIDIgNSA2IDAgNiIgZmlsbD0iIzMzMyIvPgo8L3N2Zz4=');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
}

select:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

label{
  color: #181F62;
  font-weight: bold;
}

.pos-pts{
  font-weight: 700;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    th, td{
      font-size: 11px;
    }
    
    table{
      width: 95%;
    }
    
    img{
      width: 12px;
      height: auto;
      margin-right: 9px;
    }
    th, td{
  padding: 4px;
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: 11px
}

.fixture-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
  border: 1px solid aliceblue;
}

.date, .time{
  font-size: 12px;
}
}
